.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.heder-nav__link {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.date-form__content {
    background: #f2f2f2;
    padding: 40px;
}

.prev-page-numbers__date, .next-page-numbers__date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    background: #fff;
    border: solid 1px;
    font-size: 15px;
    margin-left: 15px;
    text-decoration: none;
}

.page-numbers__date {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 15px;
}

.attendance__table {
    margin: 20px;
    width: 100%;
    table-layout: fixed;
}

.attendance__table th, .attendance__table td {
    border-top: 1px solid #909090;
    padding: 15px;
}

.date__pagination, .pagination {
    display: flex;
    justify-content: center;
}

.page-numbers, .page-numbers__current, .page-numbers, .page-numbers__dots, .next-page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #fff;
    font-size: 12px;
    color: #2384CF;
    margin-left: 1px;
    text-decoration: none;
}

.pagination > a:hover {
    color: #fff;
    background: #2384CF;
}

.footer__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.footer__logo {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}